.f16 .flag{background:url(../img/flags16.png) no-repeat;}
.f32 .flag{background:url(../img/flags32.png) no-repeat;}
.f16 ._African_Union(OAS){background-position:left -0px;}
.f16 ._Arab_League{background-position:left -16px;}
.f16 ._ASEAN{background-position:left -32px;}
.f16 ._CARICOM{background-position:left -48px;}
.f16 ._CIS{background-position:left -64px;}
.f16 ._Commonwealth{background-position:left -80px;}
.f16 ._England{background-position:left -96px;}
.f16 ._European_Union{background-position:left -112px;}
.f16 ._Islamic_Conference{background-position:left -128px;}
.f16 ._Kosovo{background-position:left -144px;}
.f16 ._NATO{background-position:left -160px;}
.f16 ._Northern_Cyprus{background-position:left -176px;}
.f16 ._Northern_Ireland{background-position:left -192px;}
.f16 ._Olimpic_Movement{background-position:left -208px;}
.f16 ._OPEC{background-position:left -224px;}
.f16 ._Red_Cross{background-position:left -240px;}
.f16 ._Scotland{background-position:left -256px;}
.f16 ._Somaliland{background-position:left -272px;}
.f16 ._Tibet{background-position:left -288px;}
.f16 ._United_Nations{background-position:left -304px;}
.f16 ._Wales{background-position:left -320px;}
.f16 .ad{background-position:left -336px;}
.f16 .ae{background-position:left -352px;}
.f16 .af{background-position:left -368px;}
.f16 .ag{background-position:left -384px;}
.f16 .ai{background-position:left -400px;}
.f16 .al{background-position:left -416px;}
.f16 .am{background-position:left -432px;}
.f16 .an{background-position:left -448px;}
.f16 .ao{background-position:left -464px;}
.f16 .aq{background-position:left -480px;}
.f16 .ar{background-position:left -496px;}
.f16 .as{background-position:left -512px;}
.f16 .at{background-position:left -528px;}
.f16 .au{background-position:left -544px;}
.f16 .aw{background-position:left -560px;}
.f16 .az{background-position:left -576px;}
.f16 .ba{background-position:left -592px;}
.f16 .bb{background-position:left -608px;}
.f16 .bd{background-position:left -624px;}
.f16 .be{background-position:left -640px;}
.f16 .bf{background-position:left -656px;}
.f16 .bg{background-position:left -672px;}
.f16 .bh{background-position:left -688px;}
.f16 .bi{background-position:left -704px;}
.f16 .bj{background-position:left -720px;}
.f16 .bm{background-position:left -736px;}
.f16 .bn{background-position:left -752px;}
.f16 .bo{background-position:left -768px;}
.f16 .br{background-position:left -784px;}
.f16 .bs{background-position:left -800px;}
.f16 .bt{background-position:left -816px;}
.f16 .bw{background-position:left -832px;}
.f16 .by{background-position:left -848px;}
.f16 .bz{background-position:left -864px;}
.f16 .ca{background-position:left -880px;}
.f16 .cd{background-position:left -896px;}
.f16 .cf{background-position:left -912px;}
.f16 .cg{background-position:left -928px;}
.f16 .ch{background-position:left -944px;}
.f16 .ci{background-position:left -960px;}
.f16 .ck{background-position:left -976px;}
.f16 .cl{background-position:left -992px;}
.f16 .cm{background-position:left -1008px;}
.f16 .cn{background-position:left -1024px;}
.f16 .co{background-position:left -1040px;}
.f16 .cr{background-position:left -1056px;}
.f16 .cu{background-position:left -1072px;}
.f16 .cv{background-position:left -1088px;}
.f16 .cy{background-position:left -1104px;}
.f16 .cz{background-position:left -1120px;}
.f16 .de{background-position:left -1136px;}
.f16 .dj{background-position:left -1152px;}
.f16 .dk{background-position:left -1168px;}
.f16 .dm{background-position:left -1184px;}
.f16 .do{background-position:left -1200px;}
.f16 .dz{background-position:left -1216px;}
.f16 .ec{background-position:left -1232px;}
.f16 .ee{background-position:left -1248px;}
.f16 .eg{background-position:left -1264px;}
.f16 .eh{background-position:left -1280px;}
.f16 .er{background-position:left -1296px;}
.f16 .es{background-position:left -1312px;}
.f16 .et{background-position:left -1328px;}
.f16 .fi{background-position:left -1344px;}
.f16 .fj{background-position:left -1360px;}
.f16 .fm{background-position:left -1376px;}
.f16 .fo{background-position:left -1392px;}
.f16 .fr{background-position:left -1408px;}
.f16 .ga{background-position:left -1424px;}
.f16 .gb{background-position:left -1440px;}
.f16 .gd{background-position:left -1456px;}
.f16 .ge{background-position:left -1472px;}
.f16 .gg{background-position:left -1488px;}
.f16 .gh{background-position:left -1504px;}
.f16 .gi{background-position:left -1520px;}
.f16 .gl{background-position:left -1536px;}
.f16 .gm{background-position:left -1552px;}
.f16 .gn{background-position:left -1568px;}
.f16 .gp{background-position:left -1584px;}
.f16 .gq{background-position:left -1600px;}
.f16 .gr{background-position:left -1616px;}
.f16 .gt{background-position:left -1632px;}
.f16 .gu{background-position:left -1648px;}
.f16 .gw{background-position:left -1664px;}
.f16 .gy{background-position:left -1680px;}
.f16 .hk{background-position:left -1696px;}
.f16 .hn{background-position:left -1712px;}
.f16 .hr{background-position:left -1728px;}
.f16 .ht{background-position:left -1744px;}
.f16 .hu{background-position:left -1760px;}
.f16 .id{background-position:left -1776px;}
.f32 .mc{background-position:left -1776px;}
.f16 .ie{background-position:left -1792px;}
.f16 .il{background-position:left -1808px;}
.f16 .im{background-position:left -1824px;}
.f16 .in{background-position:left -1840px;}
.f16 .iq{background-position:left -1856px;}
.f16 .ir{background-position:left -1872px;}
.f16 .is{background-position:left -1888px;}
.f16 .it{background-position:left -1904px;}
.f16 .je{background-position:left -1920px;}
.f16 .jm{background-position:left -1936px;}
.f16 .jo{background-position:left -1952px;}
.f16 .jp{background-position:left -1968px;}
.f16 .ke{background-position:left -1984px;}
.f16 .kg{background-position:left -2000px;}
.f16 .kh{background-position:left -2016px;}
.f16 .ki{background-position:left -2032px;}
.f16 .km{background-position:left -2048px;}
.f16 .kn{background-position:left -2064px;}
.f16 .kp{background-position:left -2080px;}
.f16 .kr{background-position:left -2096px;}
.f16 .kw{background-position:left -2112px;}
.f16 .ky{background-position:left -2128px;}
.f16 .kz{background-position:left -2144px;}
.f16 .la{background-position:left -2160px;}
.f16 .lb{background-position:left -2176px;}
.f16 .lc{background-position:left -2192px;}
.f16 .li{background-position:left -2208px;}
.f16 .lk{background-position:left -2224px;}
.f16 .lr{background-position:left -2240px;}
.f16 .ls{background-position:left -2256px;}
.f16 .lt{background-position:left -2272px;}
.f16 .lu{background-position:left -2288px;}
.f16 .lv{background-position:left -2304px;}
.f16 .ly{background-position:left -2320px;}
.f16 .ma{background-position:left -2336px;}
.f16 .md{background-position:left -2352px;}
.f16 .me{background-position:left -2368px;}
.f16 .mg{background-position:left -2384px;}
.f16 .mh{background-position:left -2400px;}
.f16 .mk{background-position:left -2416px;}
.f16 .ml{background-position:left -2432px;}
.f16 .mm{background-position:left -2448px;}
.f16 .mn{background-position:left -2464px;}
.f16 .mo{background-position:left -2480px;}
.f16 .mq{background-position:left -2496px;}
.f16 .mr{background-position:left -2512px;}
.f16 .ms{background-position:left -2528px;}
.f16 .mt{background-position:left -2544px;}
.f16 .mu{background-position:left -2560px;}
.f16 .mv{background-position:left -2576px;}
.f16 .mw{background-position:left -2592px;}
.f16 .mx{background-position:left -2608px;}
.f16 .my{background-position:left -2624px;}
.f16 .mz{background-position:left -2640px;}
.f16 .na{background-position:left -2656px;}
.f16 .nc{background-position:left -2672px;}
.f16 .ne{background-position:left -2688px;}
.f16 .ng{background-position:left -2704px;}
.f16 .ni{background-position:left -2720px;}
.f16 .nl{background-position:left -2736px;}
.f16 .no{background-position:left -2752px;}
.f16 .np{background-position:left -2768px;}
.f16 .nr{background-position:left -2784px;}
.f16 .nz{background-position:left -2800px;}
.f16 .om{background-position:left -2816px;}
.f16 .pa{background-position:left -2832px;}
.f16 .pe{background-position:left -2848px;}
.f16 .pf{background-position:left -2864px;}
.f16 .pg{background-position:left -2880px;}
.f16 .ph{background-position:left -2896px;}
.f16 .pk{background-position:left -2912px;}
.f16 .pl{background-position:left -2928px;}
.f16 .pr{background-position:left -2944px;}
.f16 .ps{background-position:left -2960px;}
.f16 .pt{background-position:left -2976px;}
.f16 .pw{background-position:left -2992px;}
.f16 .py{background-position:left -3008px;}
.f16 .qa{background-position:left -3024px;}
.f16 .re{background-position:left -3040px;}
.f16 .ro{background-position:left -3056px;}
.f16 .rs{background-position:left -3072px;}
.f16 .ru{background-position:left -3088px;}
.f16 .rw{background-position:left -3104px;}
.f16 .sa{background-position:left -3120px;}
.f16 .sb{background-position:left -3136px;}
.f16 .sc{background-position:left -3152px;}
.f16 .sd{background-position:left -3168px;}
.f16 .se{background-position:left -3184px;}
.f16 .sg{background-position:left -3200px;}
.f16 .si{background-position:left -3216px;}
.f16 .sk{background-position:left -3232px;}
.f16 .sl{background-position:left -3248px;}
.f16 .sm{background-position:left -3264px;}
.f16 .sn{background-position:left -3280px;}
.f16 .so{background-position:left -3296px;}
.f16 .sr{background-position:left -3312px;}
.f16 .st{background-position:left -3328px;}
.f16 .sv{background-position:left -3344px;}
.f16 .sy{background-position:left -3360px;}
.f16 .sz{background-position:left -3376px;}
.f16 .tc{background-position:left -3392px;}
.f16 .td{background-position:left -3408px;}
.f16 .tg{background-position:left -3424px;}
.f16 .th{background-position:left -3440px;}
.f16 .tj{background-position:left -3456px;}
.f16 .tl{background-position:left -3472px;}
.f16 .tm{background-position:left -3488px;}
.f16 .tn{background-position:left -3504px;}
.f16 .to{background-position:left -3520px;}
.f16 .tr{background-position:left -3536px;}
.f16 .tt{background-position:left -3552px;}
.f16 .tv{background-position:left -3568px;}
.f16 .tw{background-position:left -3584px;}
.f16 .tz{background-position:left -3600px;}
.f16 .ua{background-position:left -3616px;}
.f16 .ug{background-position:left -3632px;}
.f16 .us{background-position:left -3648px;}
.f16 .uy{background-position:left -3664px;}
.f16 .uz{background-position:left -3680px;}
.f16 .va{background-position:left -3696px;}
.f16 .vc{background-position:left -3712px;}
.f16 .ve{background-position:left -3728px;}
.f16 .vg{background-position:left -3744px;}
.f16 .vi{background-position:left -3760px;}
.f16 .vn{background-position:left -3776px;}
.f16 .vu{background-position:left -3792px;}
.f16 .ws{background-position:left -3808px;}
.f16 .ye{background-position:left -3824px;}
.f16 .za{background-position:left -3840px;}
.f16 .zm{background-position:left -3856px;}
.f16 .zw{background-position:left -3872px;}
.f32 ._African_Union(OAS){background-position:left -0px;}
.f32 ._Arab_League{background-position:left -32px;}
.f32 ._ASEAN{background-position:left -64px;}
.f32 ._CARICOM{background-position:left -96px;}
.f32 ._CIS{background-position:left -128px;}
.f32 ._Commonwealth{background-position:left -160px;}
.f32 ._England{background-position:left -192px;}
.f32 ._European_Union{background-position:left -224px;}
.f32 ._Islamic_Conference{background-position:left -256px;}
.f32 ._Kosovo{background-position:left -288px;}
.f32 ._NATO{background-position:left -320px;}
.f32 ._Northern_Cyprus{background-position:left -352px;}
.f32 ._Northern_Ireland{background-position:left -384px;}
.f32 ._Olimpic_Movement{background-position:left -416px;}
.f32 ._OPEC{background-position:left -448px;}
.f32 ._Red_Cross{background-position:left -480px;}
.f32 ._Scotland{background-position:left -512px;}
.f32 ._Somaliland{background-position:left -544px;}
.f32 ._Tibet{background-position:left -576px;}
.f32 ._United_Nations{background-position:left -608px;}
.f32 ._Wales{background-position:left -640px;}
.f32 .ad{background-position:left -672px;}
.f32 .ae{background-position:left -704px;}
.f32 .af{background-position:left -736px;}
.f32 .ag{background-position:left -768px;}
.f32 .ai{background-position:left -800px;}
.f32 .al{background-position:left -832px;}
.f32 .am{background-position:left -864px;}
.f32 .an{background-position:left -896px;}
.f32 .ao{background-position:left -928px;}
.f32 .aq{background-position:left -960px;}
.f32 .ar{background-position:left -992px;}
.f32 .as{background-position:left -1024px;}
.f32 .at{background-position:left -1056px;}
.f32 .au{background-position:left -1088px;}
.f32 .aw{background-position:left -1120px;}
.f32 .az{background-position:left -1152px;}
.f32 .ba{background-position:left -1184px;}
.f32 .bb{background-position:left -1216px;}
.f32 .bd{background-position:left -1248px;}
.f32 .be{background-position:left -1280px;}
.f32 .bf{background-position:left -1312px;}
.f32 .bg{background-position:left -1344px;}
.f32 .bh{background-position:left -1376px;}
.f32 .bi{background-position:left -1408px;}
.f32 .bj{background-position:left -1440px;}
.f32 .bm{background-position:left -1472px;}
.f32 .bn{background-position:left -1504px;}
.f32 .bo{background-position:left -1536px;}
.f32 .br{background-position:left -1568px;}
.f32 .bs{background-position:left -1600px;}
.f32 .bt{background-position:left -1632px;}
.f32 .bw{background-position:left -1664px;}
.f32 .by{background-position:left -1696px;}
.f32 .bz{background-position:left -1728px;}
.f32 .ca{background-position:left -1760px;}
.f32 .cd{background-position:left -1792px;}
.f32 .cf{background-position:left -1824px;}
.f32 .cg{background-position:left -1856px;}
.f32 .ch{background-position:left -1888px;}
.f32 .ci{background-position:left -1920px;}
.f32 .ck{background-position:left -1952px;}
.f32 .cl{background-position:left -1984px;}
.f32 .cm{background-position:left -2016px;}
.f32 .cn{background-position:left -2048px;}
.f32 .co{background-position:left -2080px;}
.f32 .cr{background-position:left -2112px;}
.f32 .cu{background-position:left -2144px;}
.f32 .cv{background-position:left -2176px;}
.f32 .cy{background-position:left -2208px;}
.f32 .cz{background-position:left -2240px;}
.f32 .de{background-position:left -2272px;}
.f32 .dj{background-position:left -2304px;}
.f32 .dk{background-position:left -2336px;}
.f32 .dm{background-position:left -2368px;}
.f32 .do{background-position:left -2400px;}
.f32 .dz{background-position:left -2432px;}
.f32 .ec{background-position:left -2464px;}
.f32 .ee{background-position:left -2496px;}
.f32 .eg{background-position:left -2528px;}
.f32 .eh{background-position:left -2560px;}
.f32 .er{background-position:left -2592px;}
.f32 .es{background-position:left -2624px;}
.f32 .et{background-position:left -2656px;}
.f32 .fi{background-position:left -2688px;}
.f32 .fj{background-position:left -2720px;}
.f32 .fm{background-position:left -2752px;}
.f32 .fo{background-position:left -2784px;}
.f32 .fr{background-position:left -2816px;}
.f32 .ga{background-position:left -2848px;}
.f32 .gb{background-position:left -2880px;}
.f32 .gd{background-position:left -2912px;}
.f32 .ge{background-position:left -2944px;}
.f32 .gg{background-position:left -2976px;}
.f32 .gh{background-position:left -3008px;}
.f32 .gi{background-position:left -3040px;}
.f32 .gl{background-position:left -3072px;}
.f32 .gm{background-position:left -3104px;}
.f32 .gn{background-position:left -3136px;}
.f32 .gp{background-position:left -3168px;}
.f32 .gq{background-position:left -3200px;}
.f32 .gr{background-position:left -3232px;}
.f32 .gt{background-position:left -3264px;}
.f32 .gu{background-position:left -3296px;}
.f32 .gw{background-position:left -3328px;}
.f32 .gy{background-position:left -3360px;}
.f32 .hk{background-position:left -3392px;}
.f32 .hn{background-position:left -3424px;}
.f32 .hr{background-position:left -3456px;}
.f32 .ht{background-position:left -3488px;}
.f32 .hu{background-position:left -3520px;}
.f32 .id{background-position:left -3552px;}
.f32 .mc{background-position:left -3552px;}
.f32 .ie{background-position:left -3584px;}
.f32 .il{background-position:left -3616px;}
.f32 .im{background-position:left -3648px;}
.f32 .in{background-position:left -3680px;}
.f32 .iq{background-position:left -3712px;}
.f32 .ir{background-position:left -3744px;}
.f32 .is{background-position:left -3776px;}
.f32 .it{background-position:left -3808px;}
.f32 .je{background-position:left -3840px;}
.f32 .jm{background-position:left -3872px;}
.f32 .jo{background-position:left -3904px;}
.f32 .jp{background-position:left -3936px;}
.f32 .ke{background-position:left -3968px;}
.f32 .kg{background-position:left -4000px;}
.f32 .kh{background-position:left -4032px;}
.f32 .ki{background-position:left -4064px;}
.f32 .km{background-position:left -4096px;}
.f32 .kn{background-position:left -4128px;}
.f32 .kp{background-position:left -4160px;}
.f32 .kr{background-position:left -4192px;}
.f32 .kw{background-position:left -4224px;}
.f32 .ky{background-position:left -4256px;}
.f32 .kz{background-position:left -4288px;}
.f32 .la{background-position:left -4320px;}
.f32 .lb{background-position:left -4352px;}
.f32 .lc{background-position:left -4384px;}
.f32 .li{background-position:left -4416px;}
.f32 .lk{background-position:left -4448px;}
.f32 .lr{background-position:left -4480px;}
.f32 .ls{background-position:left -4512px;}
.f32 .lt{background-position:left -4544px;}
.f32 .lu{background-position:left -4576px;}
.f32 .lv{background-position:left -4608px;}
.f32 .ly{background-position:left -4640px;}
.f32 .ma{background-position:left -4672px;}
.f32 .md{background-position:left -4704px;}
.f32 .me{background-position:left -4736px;}
.f32 .mg{background-position:left -4768px;}
.f32 .mh{background-position:left -4800px;}
.f32 .mk{background-position:left -4832px;}
.f32 .ml{background-position:left -4864px;}
.f32 .mm{background-position:left -4896px;}
.f32 .mn{background-position:left -4928px;}
.f32 .mo{background-position:left -4960px;}
.f32 .mq{background-position:left -4992px;}
.f32 .mr{background-position:left -5024px;}
.f32 .ms{background-position:left -5056px;}
.f32 .mt{background-position:left -5088px;}
.f32 .mu{background-position:left -5120px;}
.f32 .mv{background-position:left -5152px;}
.f32 .mw{background-position:left -5184px;}
.f32 .mx{background-position:left -5216px;}
.f32 .my{background-position:left -5248px;}
.f32 .mz{background-position:left -5280px;}
.f32 .na{background-position:left -5312px;}
.f32 .nc{background-position:left -5344px;}
.f32 .ne{background-position:left -5376px;}
.f32 .ng{background-position:left -5408px;}
.f32 .ni{background-position:left -5440px;}
.f32 .nl{background-position:left -5472px;}
.f32 .no{background-position:left -5504px;}
.f32 .np{background-position:left -5536px;}
.f32 .nr{background-position:left -5568px;}
.f32 .nz{background-position:left -5600px;}
.f32 .om{background-position:left -5632px;}
.f32 .pa{background-position:left -5664px;}
.f32 .pe{background-position:left -5696px;}
.f32 .pf{background-position:left -5728px;}
.f32 .pg{background-position:left -5760px;}
.f32 .ph{background-position:left -5792px;}
.f32 .pk{background-position:left -5824px;}
.f32 .pl{background-position:left -5856px;}
.f32 .pr{background-position:left -5888px;}
.f32 .ps{background-position:left -5920px;}
.f32 .pt{background-position:left -5952px;}
.f32 .pw{background-position:left -5984px;}
.f32 .py{background-position:left -6016px;}
.f32 .qa{background-position:left -6048px;}
.f32 .re{background-position:left -6080px;}
.f32 .ro{background-position:left -6112px;}
.f32 .rs{background-position:left -6144px;}
.f32 .ru{background-position:left -6176px;}
.f32 .rw{background-position:left -6208px;}
.f32 .sa{background-position:left -6240px;}
.f32 .sb{background-position:left -6272px;}
.f32 .sc{background-position:left -6304px;}
.f32 .sd{background-position:left -6336px;}
.f32 .se{background-position:left -6368px;}
.f32 .sg{background-position:left -6400px;}
.f32 .si{background-position:left -6432px;}
.f32 .sk{background-position:left -6464px;}
.f32 .sl{background-position:left -6496px;}
.f32 .sm{background-position:left -6528px;}
.f32 .sn{background-position:left -6560px;}
.f32 .so{background-position:left -6592px;}
.f32 .sr{background-position:left -6624px;}
.f32 .st{background-position:left -6656px;}
.f32 .sv{background-position:left -6688px;}
.f32 .sy{background-position:left -6720px;}
.f32 .sz{background-position:left -6752px;}
.f32 .tc{background-position:left -6784px;}
.f32 .td{background-position:left -6816px;}
.f32 .tg{background-position:left -6848px;}
.f32 .th{background-position:left -6880px;}
.f32 .tj{background-position:left -6912px;}
.f32 .tl{background-position:left -6944px;}
.f32 .tm{background-position:left -6976px;}
.f32 .tn{background-position:left -7008px;}
.f32 .to{background-position:left -7040px;}
.f32 .tr{background-position:left -7072px;}
.f32 .tt{background-position:left -7104px;}
.f32 .tv{background-position:left -7136px;}
.f32 .tw{background-position:left -7168px;}
.f32 .tz{background-position:left -7200px;}
.f32 .ua{background-position:left -7232px;}
.f32 .ug{background-position:left -7264px;}
.f32 .us{background-position:left -7296px;}
.f32 .uy{background-position:left -7328px;}
.f32 .uz{background-position:left -7360px;}
.f32 .va{background-position:left -7392px;}
.f32 .vc{background-position:left -7424px;}
.f32 .ve{background-position:left -7456px;}
.f32 .vg{background-position:left -7488px;}
.f32 .vi{background-position:left -7520px;}
.f32 .vn{background-position:left -7552px;}
.f32 .vu{background-position:left -7584px;}
.f32 .ws{background-position:left -7616px;}
.f32 .ye{background-position:left -7648px;}
.f32 .za{background-position:left -7680px;}
.f32 .zm{background-position:left -7712px;}
.f32 .zw{background-position:left -7744px;}